/.vs
/Build
/CPPBuild/*.user
/Examples/Basic/Basic.sln
/Examples/Basic/.cppbuild
/Examples/Basic/.vs
/Examples/Website/.cppbuild
/Examples/Website/.vs
/Examples/Website/Build
/Examples/Website/Website.sln
/Examples/Installer/.cppbuild
/Examples/Installer/Build
/build
